*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent{
  padding: 10px;
  background-color: gray;
}
button{
  padding: 8px 15px;
  border-radius: 5px;
  border: 0;
  font-size: 22px;
  margin: 0 5px;
  border-radius: 10px;
  color: tomato;
}
.main{
  background-color: #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  color: orange;
  margin-bottom: 40px;
  text-align: center;
}
.counterDiv{
  background-color: gray;
  text-align: center;
  padding: 15px 0;
  width: 450px;
  display: inline-block;
  border-radius: 10px;
}
h3{
  color: tomato;
  font-size: 28px;
  margin-bottom: 20px;
}